<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewpotr" content="width=device-width,initial-scale=1.0.minimum-scale=1.0">
    <!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
 
<!-- Bootstrap Javascript(jQuery含む) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


    <title>設定ページ</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <header class="header">
      <div class="alert alert-info" role="alert">
        <h1>設定</h1>
      </div>
    </header>
    <form class="form-horizontal">
      <div class="form-group">
        <label class="col-sm-2 control-label">1ヶ月の限度額</label>
        <div class="col-sm-10">
          <input class="form-control" type="text">
        </div>
      </div>
      <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    グラフの色
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">赤</a>
    <a class="dropdown-item" href="#">青</a>
  </div>
</div>
      <br>     
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button class="btn btn-default">保存</button>
        </div>
      </div>
    </form>
    <footer>
      <%= link_to  '/' do %>
        <div class="button-top">TOP</div>
      <%end%>

      <a class="button-rireki" href="graph.html">支払い履歴</a>
    
      <%= link_to  '/statics/setting' do %>
        <div class="button-setting">設定</div>
      <%end%>
    </footer>
  </body>
</html>