<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewpotr" content="width=device-width,initial-scale=1.0.minimum-scale=1.0">
    <!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
 
<!-- Bootstrap Javascript(jQuery含む) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


    <title>TOPページ</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <header class="header">
      <div class="alert alert-primary" role="alert">
        <h1>TOPページ</h1>
        <div class="account"><%= link_to 'アカウント登録', '/users/sign_up' %></div>
      </div>
      
    </header>
    <div class="wrapper">
      <div class="date">
        月日時点<br>
        
          <%= link_to  '/statics/setting' do %>
            <div class="button1">設定額<br>円</div>
          <%end%>
        
      </div>
    
      <div class="en">
        今月の使用料金<br>
        <div class="graph_box">
          <div class="graph_box_wrap white">
            <canvas width="300" height="300" id="" class="match_graph" data-percent="35"></canvas>
            <div class="graph_box_percent"><span></span>円</div>  
          </div>
        </div>

        
      </div>
      <div class="siharaitouroku">
        <a class="button2" href="touroku.html">支払い登録・編集</a>
      </div>
    </div>
    <footer>
      <%= link_to  '/' do %>
        <div class="button-top">TOP</div>
      <%end%>

      <a class="button-rireki" href="graph.html">支払い履歴</a>
    
      <%= link_to  '/statics/setting' do %>
        <div class="button-setting">設定</div>
      <%end%>

    </footer>
    <script src="javascript.js"></script>
  </body>
  <script>
        var cleate_graph = function(name,percent){
      var element = document.getElementById(name) ;
      var context = element.getContext( "2d" ) ;

      context.beginPath () ;

      var angleA = 360 * ( percent / 100 ) ;
      var angleB = 360 * ( (100 - percent) / 100 ) ;

      context.beginPath () ;
      context.arc( 100, 100, 100, (0 - 90) * Math.PI / 180, (angleA - 90) * Math.PI / 180, false ) ;
      context.lineTo( 100, 100 ) ;
      context.fillStyle = "#16a4b4" ;
      context.fill() ;

      context.beginPath () ;
      context.arc( 100, 100, 100, (angleA - 90) * Math.PI / 180, ((angleA + angleB) - 90) * Math.PI / 180, false ) ;
      context.lineTo( 100, 100 ) ;
      context.fillStyle = "#EBEBEB" ;
      context.fill() ;
    };

    var match_graph = document.getElementsByClassName('match_graph');
    for (var i = 0; i < match_graph.length; i++) {
      match_graph[i].setAttribute('id', 'graph_'+i);
      var name = match_graph[i].getAttribute('id');
      var percent = match_graph[i].getAttribute('data-percent');
      var percent_num =  match_graph[i].nextElementSibling.getElementsByTagName('span');
      percent_num[0].textContent = percent;
      cleate_graph(name,percent);
      }
  </script>
  <script>
 
    var myfunc = function () {
      var str = ".innerHTMLで変数渡し！";
      document.getElementById('edit_area').innerHTML = str ;
    }
 
  </script>

</html>
